# dependencies
node_modules/

# next.js
.next/
out/
dist/

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
.DS_Store

# ide
.idea/
*.swp
*.swo

# turbopack
.turbo/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
